img {
	zoom: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.containerDiv {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#titleDiv {
	width: 60%;
	margin: 0 auto;
}

#emailDiv {
	width: 50%;
	margin: 0 auto;
}




