* {
	font-family: 'Slabo 27px', serif;
}

img {
	zoom: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.containerDiv {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: 'Noto Serif', serif;
}

#body {
	font-size: 130%;
}

#email {
	text-align: center;
}




